<div class="book-container">
    <img src="{{picture._downloadURL}}" class="large" alt="empty">
    <h4>Title: <span>{{title}}</span></h4>
    <h4>Author: <span>{{author}}</span></h4>
    <h4>Genre: <span>{{genre}}</span></h4>
    <h4>Rating: <span>{{rating}}</span></h4>
    <button class="btn btn-success" id="btn-like">Like</button>
    <button class="btn btn-danger" id="btn-dislike">Dislike</button>
</div>