<h1 id="genre-header">{{this.name}}</h1>
{{#each this.books}}
<div class="book-container">
    <img src="{{picture._downloadURL}}" class="small" alt="empty">
    <h4>Title: <a href="#/book-info" class="book-title">{{title}}</a></h4>
    <h4>Author: <a href="#/author-info" class="book-author">{{author}}</a></h4>
    <!--<h4>Genre: <span>{{genre}}</span></h4>
    <h4>Rating: <span>{{rating}}</span></h4>-->
</div>
{{/each}}